<div class="modal fade" id="complete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Accountability Check-in
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
              <h4>Great Work Today!</h4>
              <h4>Make sure to commit your work and hit the next day harder!!!</h4>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button">Sign Out</button>
              </div>
            </div>
        </div>
    </div>
</div>
