<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Accountability Check-in
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

              <%= bootstrap_form_for @task do |f| %>
              <% @user.blocks.each do |block| %>
                <% block.category.tasks.each do |task| %>
                  <%= radio_button_tag(:complete, true) %>
                  <%= label_tag(:complete, task.name) %><br>
                <% end %>
              <%end%><br>
                <div class="modal-footer">
                    <%= f.submit %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
