
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Accountability Check-in
                </h4>
            </div>

            <div class="modal-body">
              <h4>Good work!</h4>
              <h4>Take 5 and click to contine to next block.</h4>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button">Next Block</button>
              </div>
            </div>
        </div>
    </div>
</div>
