<% @blocks.each do |block| %>
<h3><%= block.category.name %></h3>
<ul>
  <% @tasks.where(category_id: block.category_id).each do |task| %>
  <li>
    <%= task.name %>: <%= task.complete %>
  </li>
  <% end %>
</ul>
<% end %>
