
<%blocks.each do |block| %>
<div class="panel panel-default" data-id="<%= block.id %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= block.category.name%></h3>
  </div>
  <div class="panel-body">
     <%= Task.find(block.category.id).name %>
  </div>
</div>
<% end %>