<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.0/dist/progressbar.js"></script>

<button class="start">Start Day</button>
 <div class="progress" id="line-container" style="display: none;"></div>

<h2>current category</h2>
<h3>Description</h3>
<ul>
  <li>task</li>
  <li>task</li>
  <li>task</li>	
</ul>