<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.0/dist/progressbar.js"></script>

<div id="main-page">
	<button class="start">Start Day</button>

	<h2>current category</h2>
	
	<div class="progress" id="line-container" style="display: none;"></div>
	
	<h3>Description</h3>
	<ul>
	  <li>task</li>
	  <li>task</li>
	  <li>task</li>	
	</ul>

</div>

<div id="settings" style="display:none;">
	<h2> SETTINGS DIV!</h2>
	<!-- mode switch -->
	<div id= "mode-switch">
		<h4 id="mode-switch-Label">Advanced Mode</h4>
		<div class="onoffswitch">
		    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
		    <label class="onoffswitch-label" for="myonoffswitch">
		        <span class="onoffswitch-inner"></span>
		        <span class="onoffswitch-switch"></span>
	  	   </label>
		</div>
	</div>
   
   <!-- add tasks form -->
    <div id="tasks-form">
    	 <%= render "tasks/task" %> 
    </div>
   <!-- tasks added scrollable container -->
	<div id="tasks-container">
		<% @tasks.each do |task| %>
         <%= task.name %>
        <% end %>  
	</div>
   <!-- advanced mode dragable calendar -->
	<div id="calendar">
	
	</div>
</div>