<div class="panel panel-default" data-id="2">
  <div class="panel-heading">
    <h3 class="panel-title">Resume Resources</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li> Schedule two free Funnel Interviews (check email)</li>
    	<li><a href="https://codility.com/"></a>Codility</li>
    	<li><a href="https://www.udacity.com/course/technical-interview--ud513">Udacity Technical Interview Course</a></li>
    </ul>
    
  </div>
</div>




Task.create(name: 'Udacity UD513', category_id: 5)
Task.create(name: 'Codefights.com', category_id: 5)
Task.create(name: 'LeetCode.com', category_id: 5)
Task.create(name: 'HackerRank.com', category_id: 5)
Task.create(name: 'Exercism.io', category_id: 5)
Task.create(name: 'Toptal sorting algorithms', category_id: 5)
Task.create(name: 'Google Interview University', category_id: 5)