<div class="panel panel-default" data-id="3">
  <div class="panel-heading">
    <h3 class="panel-title">Outreach Resources</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li><a target="_blank" href="https://www.meetup.com/">Meetup</a></li>
    	<li><a target="_blank" href="https://chrome.google.com/webstore/detail/yet-another-mail-merge/mgmgmhkohaenhokbdnlpcljckbhpbmef">Yet another mail mergeye</a></li>
    	<li><a target="_blank" href="https://www.streak.com/?utm_source=adwords&utm_campaign=real_estate&utm_medium=search&utm_content=crm+for+real+estate+track+buyers+listings+in+inbox&gclid=CjwKEAiA79zDBRCgyf2FgeiY-CESJABzr0BMfToWfzkApDriV7ARwg17X59VKaqYMWrvJefwKFMN3xoCTTfw_wcB">Streak</a></li>
    	<li><a target="_blank" href="https://chrome.google.com/webstore/detail/fullcontact-for-gmail/cnaibnehbbinoohhjafknihmlopdhhip?hl=en">Full Contact</a></li>
    	<li><a target="_blank" href="https://chrome.google.com/webstore/detail/prophet/alikckkmddkoooodkchoheabgakpopmg?hl=en">Prophet</a></li>
    	<li><a target="_blank" href="https://www.lead411.com/">Lead 411</a></li>
    	<li><a target="_blank" href="http://www.boomeranggmail.com/">Boomerang email scheduling</a></li>
    	<li><a target="_blank" href="https://www.crystalknows.com/">Crystal for LinkedIn</a></li>
    	<li><a target="_blank" href="https://rapportive.com/">Rapportive LinkedIn profile insights</a></li>
    	<li><a target="_blank" href="https://snapbird.org/">SnapBird Twitter scanner (use for finding emails addresses)</a></li>
    </ul>
    
  </div>
</div>




