<div class="panel panel-default" data-id="2">
  <div class="panel-heading">
    <h3 class="panel-title">Resume Resources</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li><a href="https://www.canva.com/">Canva</a></li>
    	<li><a href="https://www.jobscan.co/">Jobscan</a></li>
    	<li><a href="http://creddle.io/">Creddle</a></li>
    </ul>
    
  </div>
</div>


