<div class="panel panel-default" data-id="2">
  <div class="panel-heading">
    <h3 class="panel-title">Web Presence Resources</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li><a target="_blank" href="https://www.linkedin.com/">LinkedIn</a></li>
    	<li><a target="_blank" href="https://www.facebook.com/">Facebook</a></li>
    	<li><a target="_blank" href="https://angel.co/">Angel List</a></li>
    	<li><a target="_blank" href="https://employ.devbootcamp.com">DBC Employ</a></li>
    	<li> Create your personal website </li>
    </ul>
    
  </div>
</div>











