<div class="panel panel-default" data-id="2">
  <div class="panel-heading">
    <h3 class="panel-title">Web Presence Resources</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li><a href="https://www.linkedin.com/">LinkedIn</a></li>
    	<li><a href=""></a></li>
    	<li><a href=""></a></li>
    </ul>
    
  </div>
</div>









Task.create(name: 'Linkedin', category_id: 4)
Task.create(name: 'Facebook', category_id: 4)
Task.create(name: 'Angel List', category_id: 4)
Task.create(name: 'DBC Employ', category_id: 4)
Task.create(name: 'Personal Portfolio Site', category_id: 4)