body {
  background-image: url("bg1.png");

}

.navbar-brand  {
  color:#2fd0fc !important;
  /*font-family: 'Shrikhand', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Fruktur', cursive;
  font-family: 'Rubik One', sans-serif;*/
  font-family: 'Eczar', serif;
} 
a{
  color:#2fd0fc !important;
}

.start {
  color: #2fd0fc !important;
    -webkit-filter: drop-shadow(6px 6px 6px black ) !important; 
    text-shadow: 3px 3px 3px rgba(30,33,38,.8) !important;
}
/*footer tabs*/
#resources { 
 margin: 0 auto;
    height: 30px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: #272b30;
    opacity: 1;
    text-align: center;
}

#resources button{
    background-color: rgba( 139, 139, 139, .3);
    color: #2fd0fc;
}

/*start day button*/
.start{
	float:right;
	margin-right: 5%;
	color: #2fd0fc;
    margin-bottom: 20px;
}
#line-container{
   margin:0 auto;
    width: 500px;
   -webkit-filter: blur(2px) drop-shadow(22px 22px 20px black); 

}

#animation-container{
  margin:0 auto;
  width:500px;
  height:46px;
  margin-bottom:none; 
}

#time{
    font-size: 30px;
    width: 84px;
    position:relative;
    margin-left:450px;
    border: 2px solid rgba( 139, 139, 139, .8);
    border-radius: 8%;
    background-color: rgba( 139, 139, 139, .3);
    color: #2fd0fc;
      text-shadow: 3px 3px 3px rgba(30,33,38,.8)

}
#current-work{
   clear:both;
    text-align: center;
    margin-top: 10px;
  

}

#current-work h2{
    color:#2fd0fc;


}

.block {
	border: 1px solid white;
	margin-bottom: 5px;
}

.panel-heading h3{
  color: #2fd0fc;
}



                        /*SORTABLE STYLING*/
/*block category heading*/
.sortable {

    width: 100%;
}
.sortable .panel-title{
    color: #2fd0fc;
 }
 .panel-heading{
    background-color: #545966;
}
.todo-list{
    clear:both;
    width:400px;
    margin:0 auto;
}
.todos{
  width:100%;
  margin: 0 auto;
  list-style-type: none;
  border: solid #545966 ;
  text-align: center;
  background-color: #545966;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-right: 2%;
  box-shadow: 4px 4px 8px #363638;
  opacity: 0.6;
}





/*add tasks form*/





/*added tasks container*/
#tasks-label{
 width: 500px;
 margin:0 auto;
}
#tasks-label h3{
    text-align: center;
}

/*advanced mode calendar*/
#calendar{

}

.user-config{
    width:100%;
   
}
.blocks {
    width:100px;
    display:inline-block;
     vertical-align: bottom; 


}


/*css for mode-switch  https://proto.io/freebies/onoff/ */
#mode-switch{
 margin-left:4%;
  
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OFF";
    padding-left: 10px;
    background-color: #EEEEEE; color:#999999 ;
}
.onoffswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: #34A7C1 ; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
