body {
  background-image: url("bg1.png");
}



/*start day button*/
.start{
	float:right;
	margin-right: 5%;
	color: orange;
    margin-bottom: 20px;
}
#line-container{
   margin:0 auto;
    width: 500px;
   -webkit-filter: blur(2px) drop-shadow(22px 22px 20px black); 

}

#time{
    font-size: 30px;
    color: orange;
    margin: auto;
    width: 50px;
}
#current-work{
   clear:both;
    text-align: center;
    margin-top: 10px;
  

}

#current-work h2{
    color:orange;


}

.block {
	border: 1px solid white;
	margin-bottom: 5px;
}




                        /*SORTABLE STYLING*/
/*block category heading*/
.sortable {

    width: 100%;
}
.sortable .panel-title{
    color: orange;
 }
 .panel-heading{
    background-color: #545966;
}
.todo-list{
    clear:both;
    width:400px;
    margin:0 auto;
}
.todos{
  width:100%;
  margin: 0 auto;
  list-style-type: none;
  border: solid #545966 ;
  text-align: center;
  background-color: #545966;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-right: 2%;
   box-shadow: 4px 4px 8px #363638;
   opacity: 0.6;
}





/*add tasks form*/





/*added tasks container*/
#tasks-label{
 width: 500px;
 margin:0 auto;
}
#tasks-label h3{
    text-align: center;
}

/*advanced mode calendar*/
#calendar{

}

.user-config{
    width:100%;
   
}
.blocks {
    width:100px;
    display:inline-block;
     vertical-align: bottom; 


}


/*css for mode-switch  https://proto.io/freebies/onoff/ */
#mode-switch{
 margin-left:4%;
  
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OFF";
    padding-left: 10px;
    background-color: #EEEEEE; color:#999999 ;
}
.onoffswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: #34A7C1 ; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
